html {
  scroll-behavior: smooth;
}

    body, h1, .h1, h2, h3, a.logo {
        font-optical-sizing: auto;
    }

.grid-2col,
.grid-3col,
.grid-4col {
  display: grid;
  gap: var(--grid-hgap);
  grid-template-columns: 1fr;
  width: 100%;
}

h2 {
  font-size: var(--font-size-heading3);
    line-height: 1;
    font-weight: 500;
    margin-top: var(--large-spacing);
    margin-bottom: var(--grid-vgap);
}

h3 {
  font-size: var(--font-size-heading1);
    line-height: 120%;
    font-weight: 500;
}

.text-bigbody {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-size: var(--font-size-heading2);
  margin-top: 0;
  font-weight: 400;
  line-height: 1.25;
}

.feature-list-mobile,
.feature-list-desktop {
  row-gap: var(--grid-vgap);
}

.screenshot-container {
  background-color: #0C0C0C;
  border-radius: 1.5rem;
  border: 1px solid #333333;
  text-align: center;
  box-sizing: border-box;
}

.screenshot-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 18.5% 22%;
}

.screenshot-desktop img {
  padding: 14% 14%;
}

.review-list li {
  display: flex;
  flex-direction: column;
  gap: var(--grid-hgap);
}

.review-list h3 {
  margin: 0;
}

article h3 {
  padding-top: 0.5rem;
  margin-bottom: 0;
}

article p {
  margin-top: 1rem;
}

blockquote {
  margin: 0;
  padding: 0;
}

figure {
  break-inside: avoid;
  background-color: #0C0C0C;
  border-radius: 1.5rem;
  border: 1px solid #333333;
  padding: 1.5rem 1.25rem;
  margin: 0;
  /* font-size: 1.25rem; */
  /* font-family: "Geist", sans-serif; */
  /* color: white; */
  /* min-height: 20rem; */
  display: flex;
  flex-direction: column;
}

.review-info {
  /* margin-top: auto; */
    /* color: var(--gray-1); */
    /* color: white; */
    /* font-family: "Geist Mono", monospace;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem; */
  }

blockquote p {
  margin-bottom: 0
}

details {
  border-top: 1px solid white;
}

details p {
  margin-top: 0;
  max-width: 46.25rem;
  margin-bottom: 3rem;
}

details summary {
  display: flex;
  align-items: center;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--font-size-heading1);
  color: white;
  cursor: pointer;
  list-style: none;
  position: relative;
  padding-right: 1.5rem;
  height: 5rem;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Geist", sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: 2rem;
}

details[open] summary::before {
  content: "−";
}

.contact-sections h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.contact-sections a {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: var(--font-size-body-uppercase);
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer {
  margin-top: var(--large-spacing);
  padding-bottom: 2rem;
    gap: 2rem;
}

.footer-left {
  font-size: var(--font-size-heading4);
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  line-height: 120%;
  font-weight: 400;
}

.footer-right ul {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.copyright {
  color: white;
}

@media (max-width: 768px) {

@charset "UTF-8";
.input-wrapper > input,
.input-wrapper > .placeholder {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"Analog\aPhotography\aNotebook";
  alt: "Analog\aPhotography\aNotebook";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 5.24s linear 0s 0 forwards, typed-0-final 1.8s linear 0s 1 forwards;
}
@keyframes typed-0-final {
  0%, 3.7037037037% {
    content: "​A";
    content: "​A"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  3.7047037037%, 7.4074074074% {
    content: "​An";
    content: "​An"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  7.4084074074%, 11.1111111111% {
    content: "​Ana";
    content: "​Ana"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  11.1121111111%, 14.8148148148% {
    content: "​Anal";
    content: "​Anal"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  14.8158148148%, 18.5185185185% {
    content: "​Analo";
    content: "​Analo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  18.5195185185%, 22.2222222222% {
    content: "​Analog";
    content: "​Analog"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  22.2232222222%, 25.9259259259% {
    content: "​Analog\a";
    content: "​Analog\a"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  25.9269259259%, 29.6296296296% {
    content: "​Analog\aP";
    content: "​Analog\aP"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  29.6306296296%, 33.3333333333% {
    content: "​Analog\aPh";
    content: "​Analog\aPh"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  33.3343333333%, 37.037037037% {
    content: "​Analog\aPho";
    content: "​Analog\aPho"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  37.038037037%, 40.7407407407% {
    content: "​Analog\aPhot";
    content: "​Analog\aPhot"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  40.7417407407%, 44.4444444444% {
    content: "​Analog\aPhoto";
    content: "​Analog\aPhoto"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  44.4454444444%, 48.1481481481% {
    content: "​Analog\aPhotog";
    content: "​Analog\aPhotog"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  48.1491481481%, 51.8518518519% {
    content: "​Analog\aPhotogr";
    content: "​Analog\aPhotogr"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  51.8528518519%, 55.5555555556% {
    content: "​Analog\aPhotogra";
    content: "​Analog\aPhotogra"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  55.5565555556%, 59.2592592593% {
    content: "​Analog\aPhotograp";
    content: "​Analog\aPhotograp"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  59.2602592593%, 62.962962963% {
    content: "​Analog\aPhotograph";
    content: "​Analog\aPhotograph"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  62.963962963%, 66.6666666667% {
    content: "​Analog\aPhotography";
    content: "​Analog\aPhotography"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  66.6676666667%, 70.3703703704% {
    content: "​Analog\aPhotography\a";
    content: "​Analog\aPhotography\a"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  70.3713703704%, 74.0740740741% {
    content: "​Analog\aPhotography\aN";
    content: "​Analog\aPhotography\aN"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  74.0750740741%, 77.7777777778% {
    content: "​Analog\aPhotography\aNo";
    content: "​Analog\aPhotography\aNo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  77.7787777778%, 81.4814814815% {
    content: "​Analog\aPhotography\aNot";
    content: "​Analog\aPhotography\aNot"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  81.4824814815%, 85.1851851852% {
    content: "​Analog\aPhotography\aNote";
    content: "​Analog\aPhotography\aNote"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  85.1861851852%, 88.8888888889% {
    content: "​Analog\aPhotography\aNoteb";
    content: "​Analog\aPhotography\aNoteb"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  88.8898888889%, 92.5925925926% {
    content: "​Analog\aPhotography\aNotebo";
    content: "​Analog\aPhotography\aNotebo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  92.5935925926%, 96.2962962963% {
    content: "​Analog\aPhotography\aNoteboo";
    content: "​Analog\aPhotography\aNoteboo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  96.2972962963%, 100% {
    content: "​Analog\aPhotography\aNotebook";
    content: "​Analog\aPhotography\aNotebook"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 0s infinite forwards;
}
@keyframes typed-0 {
  0%, 1.271264631% {
    content: "​A";
    content: "​A"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  1.272264631%, 2.5435292621% {
    content: "​An";
    content: "​An"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  2.5445292621%, 3.8157938931% {
    content: "​Ana";
    content: "​Ana"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  3.8167938931%, 5.0880585242% {
    content: "​Anal";
    content: "​Anal"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  5.0890585242%, 6.3603231552% {
    content: "​Analo";
    content: "​Analo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  6.3613231552%, 7.6325877863% {
    content: "​Analog";
    content: "​Analog"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  7.6335877863%, 8.9048524173% {
    content: "​Analog\a";
    content: "​Analog\a"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  8.9058524173%, 10.1771170483% {
    content: "​Analog\aP";
    content: "​Analog\aP"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  10.1781170483%, 11.4493816794% {
    content: "​Analog\aPh";
    content: "​Analog\aPh"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  11.4503816794%, 12.7216463104% {
    content: "​Analog\aPho";
    content: "​Analog\aPho"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  12.7226463104%, 13.9939109415% {
    content: "​Analog\aPhot";
    content: "​Analog\aPhot"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  13.9949109415%, 15.2661755725% {
    content: "​Analog\aPhoto";
    content: "​Analog\aPhoto"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  15.2671755725%, 16.5384402036% {
    content: "​Analog\aPhotog";
    content: "​Analog\aPhotog"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  16.5394402036%, 17.8107048346% {
    content: "​Analog\aPhotogr";
    content: "​Analog\aPhotogr"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  17.8117048346%, 19.0829694656% {
    content: "​Analog\aPhotogra";
    content: "​Analog\aPhotogra"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  19.0839694656%, 20.3552340967% {
    content: "​Analog\aPhotograp";
    content: "​Analog\aPhotograp"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  20.3562340967%, 21.6274987277% {
    content: "​Analog\aPhotograph";
    content: "​Analog\aPhotograph"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  21.6284987277%, 22.8997633588% {
    content: "​Analog\aPhotography";
    content: "​Analog\aPhotography"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  22.9007633588%, 24.1720279898% {
    content: "​Analog\aPhotography\a";
    content: "​Analog\aPhotography\a"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  24.1730279898%, 25.4442926209% {
    content: "​Analog\aPhotography\aN";
    content: "​Analog\aPhotography\aN"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  25.4452926209%, 26.7165572519% {
    content: "​Analog\aPhotography\aNo";
    content: "​Analog\aPhotography\aNo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  26.7175572519%, 27.988821883% {
    content: "​Analog\aPhotography\aNot";
    content: "​Analog\aPhotography\aNot"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  27.989821883%, 29.261086514% {
    content: "​Analog\aPhotography\aNote";
    content: "​Analog\aPhotography\aNote"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  29.262086514%, 30.533351145% {
    content: "​Analog\aPhotography\aNoteb";
    content: "​Analog\aPhotography\aNoteb"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  30.534351145%, 31.8056157761% {
    content: "​Analog\aPhotography\aNotebo";
    content: "​Analog\aPhotography\aNotebo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  31.8066157761%, 33.0778804071% {
    content: "​Analog\aPhotography\aNoteboo";
    content: "​Analog\aPhotography\aNoteboo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  33.0788804071%, 60.8132493639% {
    content: "​Analog\aPhotography\aNotebook";
    content: "​Analog\aPhotography\aNotebook"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  60.8142493639%, 61.8310610687% {
    content: "​Analog\aPhotography\aNoteboo";
    content: "​Analog\aPhotography\aNoteboo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  61.8320610687%, 62.8488727735% {
    content: "​Analog\aPhotography\aNotebo";
    content: "​Analog\aPhotography\aNotebo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  62.8498727735%, 63.8666844784% {
    content: "​Analog\aPhotography\aNoteb";
    content: "​Analog\aPhotography\aNoteb"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  63.8676844784%, 64.8844961832% {
    content: "​Analog\aPhotography\aNote";
    content: "​Analog\aPhotography\aNote"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  64.8854961832%, 65.902307888% {
    content: "​Analog\aPhotography\aNot";
    content: "​Analog\aPhotography\aNot"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  65.903307888%, 66.9201195929% {
    content: "​Analog\aPhotography\aNo";
    content: "​Analog\aPhotography\aNo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  66.9211195929%, 67.9379312977% {
    content: "​Analog\aPhotography\aN";
    content: "​Analog\aPhotography\aN"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  67.9389312977%, 68.9557430025% {
    content: "​Analog\aPhotography\a";
    content: "​Analog\aPhotography\a"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  68.9567430025%, 69.9735547074% {
    content: "​Analog\aPhotography";
    content: "​Analog\aPhotography"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  69.9745547074%, 70.9913664122% {
    content: "​Analog\aPhotograph";
    content: "​Analog\aPhotograph"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  70.9923664122%, 72.009178117% {
    content: "​Analog\aPhotograp";
    content: "​Analog\aPhotograp"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  72.010178117%, 73.0269898219% {
    content: "​Analog\aPhotogra";
    content: "​Analog\aPhotogra"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  73.0279898219%, 74.0448015267% {
    content: "​Analog\aPhotogr";
    content: "​Analog\aPhotogr"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  74.0458015267%, 75.0626132316% {
    content: "​Analog\aPhotog";
    content: "​Analog\aPhotog"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  75.0636132316%, 76.0804249364% {
    content: "​Analog\aPhoto";
    content: "​Analog\aPhoto"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  76.0814249364%, 77.0982366412% {
    content: "​Analog\aPhot";
    content: "​Analog\aPhot"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  77.0992366412%, 78.1160483461% {
    content: "​Analog\aPho";
    content: "​Analog\aPho"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  78.1170483461%, 79.1338600509% {
    content: "​Analog\aPh";
    content: "​Analog\aPh"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  79.1348600509%, 80.1516717557% {
    content: "​Analog\aP";
    content: "​Analog\aP"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  80.1526717557%, 81.1694834606% {
    content: "​Analog\a";
    content: "​Analog\a"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  81.1704834606%, 82.1872951654% {
    content: "​Analog";
    content: "​Analog"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  82.1882951654%, 83.2051068702% {
    content: "​Analo";
    content: "​Analo"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  83.2061068702%, 84.2229185751% {
    content: "​Anal";
    content: "​Anal"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  84.2239185751%, 85.2407302799% {
    content: "​Ana";
    content: "​Ana"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  85.2417302799%, 86.2585419847% {
    content: "​An";
    content: "​An"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  86.2595419847%, 87.2763536896% {
    content: "​A";
    content: "​A"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
  87.2773536896%, 100% {
    content: "​";
    content: "​"/"Analog\aPhotography\aNotebook";
    alt: "Analog\aPhotography\aNotebook";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}/*# sourceMappingURL=typed_init.css.map */

}

@media (min-width: 768px) {
  .grid-2col {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-hgap);
  }

  .grid-3col {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-hgap);
  }

  .grid-4col {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-hgap);
  }

  .download-buttons {
    display: inline-flex;
  }

  .footer-left {
    grid-column: span 11;
  }

  .footer {
    grid-template-columns: repeat(12, 1fr);
    align-items: end;
    padding-bottom: 3rem;
    gap: var(--grid-hgap);
  }

  .feature-list-mobile,
  .feature-list-desktop {
    row-gap: var(--grid-vgap);
  }

@charset "UTF-8";
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"Analog,\aNotebook";
  alt: "Analog,\aNotebook";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 3.92s linear 0s 0 forwards, typed-0-final 1.0666666667s linear 0s 1 forwards;
}
@keyframes typed-0-final {
  0%, 6.25% {
    content: "​A";
    content: "​A"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  6.251%, 12.5% {
    content: "​An";
    content: "​An"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  12.501%, 18.75% {
    content: "​Ana";
    content: "​Ana"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  18.751%, 25% {
    content: "​Anal";
    content: "​Anal"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  25.001%, 31.25% {
    content: "​Analo";
    content: "​Analo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  31.251%, 37.5% {
    content: "​Analog";
    content: "​Analog"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  37.501%, 43.75% {
    content: "​Analog,";
    content: "​Analog,"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  43.751%, 50% {
    content: "​Analog,\a";
    content: "​Analog,\a"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  50.001%, 56.25% {
    content: "​Analog,\aN";
    content: "​Analog,\aN"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  56.251%, 62.5% {
    content: "​Analog,\aNo";
    content: "​Analog,\aNo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  62.501%, 68.75% {
    content: "​Analog,\aNot";
    content: "​Analog,\aNot"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  68.751%, 75% {
    content: "​Analog,\aNote";
    content: "​Analog,\aNote"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  75.001%, 81.25% {
    content: "​Analog,\aNoteb";
    content: "​Analog,\aNoteb"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  81.251%, 87.5% {
    content: "​Analog,\aNotebo";
    content: "​Analog,\aNotebo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  87.501%, 93.75% {
    content: "​Analog,\aNoteboo";
    content: "​Analog,\aNoteboo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  93.751%, 100% {
    content: "​Analog,\aNotebook";
    content: "​Analog,\aNotebook"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 0s infinite forwards;
}
@keyframes typed-0 {
  0%, 1.6996802721% {
    content: "​A";
    content: "​A"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  1.7006802721%, 3.4003605442% {
    content: "​An";
    content: "​An"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  3.4013605442%, 5.1010408163% {
    content: "​Ana";
    content: "​Ana"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  5.1020408163%, 6.8017210884% {
    content: "​Anal";
    content: "​Anal"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  6.8027210884%, 8.5024013605% {
    content: "​Analo";
    content: "​Analo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  8.5034013605%, 10.2030816327% {
    content: "​Analog";
    content: "​Analog"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  10.2040816327%, 11.9037619048% {
    content: "​Analog,";
    content: "​Analog,"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  11.9047619048%, 13.6044421769% {
    content: "​Analog,\a";
    content: "​Analog,\a"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  13.6054421769%, 15.305122449% {
    content: "​Analog,\aN";
    content: "​Analog,\aN"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  15.306122449%, 17.0058027211% {
    content: "​Analog,\aNo";
    content: "​Analog,\aNo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  17.0068027211%, 18.7064829932% {
    content: "​Analog,\aNot";
    content: "​Analog,\aNot"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  18.7074829932%, 20.4071632653% {
    content: "​Analog,\aNote";
    content: "​Analog,\aNote"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  20.4081632653%, 22.1078435374% {
    content: "​Analog,\aNoteb";
    content: "​Analog,\aNoteb"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  22.1088435374%, 23.8085238095% {
    content: "​Analog,\aNotebo";
    content: "​Analog,\aNotebo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  23.8095238095%, 25.5092040816% {
    content: "​Analog,\aNoteboo";
    content: "​Analog,\aNoteboo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  25.5102040816%, 62.5840340136% {
    content: "​Analog,\aNotebook";
    content: "​Analog,\aNotebook"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  62.5850340136%, 63.9445782313% {
    content: "​Analog,\aNoteboo";
    content: "​Analog,\aNoteboo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  63.9455782313%, 65.305122449% {
    content: "​Analog,\aNotebo";
    content: "​Analog,\aNotebo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  65.306122449%, 66.6656666667% {
    content: "​Analog,\aNoteb";
    content: "​Analog,\aNoteb"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  66.6666666667%, 68.0262108844% {
    content: "​Analog,\aNote";
    content: "​Analog,\aNote"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  68.0272108844%, 69.386755102% {
    content: "​Analog,\aNot";
    content: "​Analog,\aNot"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  69.387755102%, 70.7472993197% {
    content: "​Analog,\aNo";
    content: "​Analog,\aNo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  70.7482993197%, 72.1078435374% {
    content: "​Analog,\aN";
    content: "​Analog,\aN"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  72.1088435374%, 73.4683877551% {
    content: "​Analog,\a";
    content: "​Analog,\a"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  73.4693877551%, 74.8289319728% {
    content: "​Analog,";
    content: "​Analog,"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  74.8299319728%, 76.1894761905% {
    content: "​Analog";
    content: "​Analog"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  76.1904761905%, 77.5500204082% {
    content: "​Analo";
    content: "​Analo"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  77.5510204082%, 78.9105646259% {
    content: "​Anal";
    content: "​Anal"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  78.9115646259%, 80.2711088435% {
    content: "​Ana";
    content: "​Ana"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  80.2721088435%, 81.6316530612% {
    content: "​An";
    content: "​An"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  81.6326530612%, 82.9921972789% {
    content: "​A";
    content: "​A"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
  82.9931972789%, 100% {
    content: "​";
    content: "​"/"Analog,\aNotebook";
    alt: "Analog,\aNotebook";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}

}