body {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  letter-spacing: -0.003em;
  line-height: 16px;
  font-style: normal;
  font-optical-sizing: auto;
  color: white;
  background: #000;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  letter-spacing: -1.584px;
  line-height: 1;
  font-weight: 300;
}

.trademark {
  display: inline-block;
  font-size: 21.33px;
  font-weight: 200;
  transform: translate(-0.6em, -1.44em);
}

h2, .h2 {
  display: block;
  font-size: 22px;
  letter-spacing: -0.018em;
  line-height: 26px;
  font-weight: 400;
}

a,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.h-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.mac-download,
.ios-download {
  position: relative;
}

.mac-download img,
.ios-download img {
  position: absolute;
  top: -13px;
  left: -56px;
  width: 40px;
}

.mac-download,
.ios-download,
.infoCollapsedSidebar,
.desktop-break,
.footer {
  display: none;
}

.main,
.footer {
  background: white;
  color: black;
  font-weight: 400;
}

.mobile-only-download {
  display: block;
  padding-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  /* padding-top: 20px; */
  /* padding-bottom: 30px; */
}

.header > * {
  padding-top: 20px;
    padding-bottom: 30px;
}

.desktop-only {
    display: none;
  }

@media (min-width: 960px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  body {
    font-size: 18px;
    letter-spacing: -0.014em;
    line-height: 22px;
  }

  .h-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }

  .date {
    font-size: 15px;
    letter-spacing: -0.009em;
    line-height: 19px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 32px;
  }

  .copyright-symbol {
    font-weight: 300;
  }

  .header {
    height: calc(100vh - 32px);
    /* padding-top: 32px; */
    /* padding-bottom: 0; */
  }

  .header > * {
    padding-top: 32px;
    padding-bottom: 50px;
  }

  .main {
    padding-top: 48px;
    min-height: 320px;
  }

  .trademark {
    font-size: 34px;
  }

  h2, .h2 {
    font-size: 34px;
    letter-spacing: -0.022em;
    line-height: 41px;
    grid-column: span 2;
    padding: 0;
  }

  .mobile-only-download,
  .email {
    display: none;
  }

  .mac-download,
  .ios-download {
    display: block;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  h1 {
    font-size: 100px;
    letter-spacing: -0.022em;
  }

  .main p {
    position: relative;
  }
  
  .desktop-break {
      display: block;
    }
}