/* font-size: 44px;
    letter-spacing: -0.022em;
    line-height: 54px; */

body {
  font-family: "Inter", sans-serif;
  /* font-size: 15px;
    letter-spacing: -0.009em;
    line-height: 19px; */
  font-size: 14px;
  letter-spacing: -0.006em;
  line-height: 17px;
  font-style: normal;
  font-optical-sizing: auto;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: white;
  background: #000;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.desktop-break {
  display: none;
}

h1 {
  font-size: 72px;
  letter-spacing: -1.584px;
  /* line-height: 88px; */
  line-height: 1.1;
  padding: 0 15px 30px;
  font-weight: 300;
}

.trademark {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  transform: translate(-0.6em, -1.45em);
}

h2 {
  font-size: 22px;
  letter-spacing: -0.018em;
  line-height: 26px;
  font-weight: 400;
  padding: 20px 0 20px;
}

h3 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

.infoCollapsedSidebar {
  display: none;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 15px;
}

.grid > * {
  width: 100%;
}

/* Header */
.header {
  /* font-weight: 500; */
}
.header p {
  position: relative;
}

.header img {
  position: absolute;
  top: -14px;
  left: -46px;
  width: 32px;
}

.header h3 {
  display: none;
}

.mac-download,
.ios-download {
  display: none;
}

/* Footer */
.footer {
  background: white;
  color: black;
  font-weight: 400;
}

.footer h3 {
  text-align: right;
}

.footer p {
  padding-bottom: 80px;
}

p.mobile-only-download {
  display: block;
  padding-bottom: 20px;
}

.footer > *:nth-child(2) {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 3/4;
}

h1,
.header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-size: 15px;
    letter-spacing: -0.009em;
    line-height: 19px;
    /* font-size: 16px;
    letter-spacing: -0.011em;
    line-height: 20px; */
    /* font-size: 17px;
    letter-spacing: -0.013em;
    line-height: 20px; */
  }

  .desktop-break {
    display: block;
  }

  .footer {
    aspect-ratio: 3/1;
  }

  .main {
    aspect-ratio: 16/9;
  }

  h1 {
    font-size: 104px;
    letter-spacing: -0.022em;
    /* line-height: 116px; */
    padding: 0 30px 40px;
  }

  .trademark {
    font-size: 34px;
    /* transform: translate(0, -51px); */
  }

  h2 {
    font-size: 32px;
    letter-spacing: -0.022em;
    line-height: 38px;
    grid-column: span 2;
    padding: 0;
  }

  p.mobile-only-download {
    display: none;
  }

  .mac-download,
  .ios-download {
    display: block;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
  }

  .header h3 {
    display: block;
  }

  .email {
    display: none;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer p {
    padding: 0;
  }
}

@media (min-width: 1140px) {
  body {
        font-size: 16px;
    letter-spacing: -0.011em;
    line-height: 20px;
    /* font-size: 17px;
    letter-spacing: -0.013em;
    line-height: 20px; */
    /* font-size: 18px;
    letter-spacing: -0.014em;
    line-height: 22px; */
  }

  h1 {
    font-size: 160px;
    letter-spacing: -0.022em;
    /* line-height: 176px; */
    /* padding-bottom: 50px; */
    padding-bottom: 50px;
  }

  .trademark {
    font-size: 52px;
    /* transform: translate(0, -75px); */
  }

  h2 {
    font-size: 48px;
    letter-spacing: -0.022em;
    line-height: 57px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .email {
    display: block;
  }

  .footer > *:nth-child(2) {
    display: block;
  }
}

@media (min-width: 1470px) {
  body {
    /* font-size: 20px;
    letter-spacing: -0.017em;
    line-height: 24px; */
    font-size: 18px;
    letter-spacing: -0.014em;
    line-height: 22px;
  }

  h1 {
    font-size: 200px;
    letter-spacing: -0.022em;
    /* line-height: 216px; */
    padding-bottom: 60px;
  }

  .trademark {
    font-size: 66px;
    /* transform: translate(-0.55em, -1.45em); */
  }

  h2 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.022em;
  }

  .header img {
    top: -10px;
    left: -58px;
    width: 40px;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer p,
  .footer h3 {
    /* transform: translate(0, 8px); */
  }
}
