body {
  font-family: "Inter", "Inter", sans-serif;
    font-size: 13px;
    letter-spacing: -0.003em;
    line-height: 16px;
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;

  /* background: black; */

  background: #000; /* EAEAEA */
  box-sizing: border-box;
  /* padding: 8px; */
}

h1,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  line-height: 0.8518;
  font-weight: 350;
  letter-spacing: -0.022em;
  text-transform: uppercase;
  word-spacing: 0.2em;
  text-align: justify;
  text-align-last: justify;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  background: #a9aeb7; /* EAEAEA */
}

  img {
    width: 40px;
    margin-right: 12px;
  }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.footer {
  display: none;
  justify-content: flex-end;
}

.download-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.infoCollapsedSidebar {
  display: none;
}

@media (min-width: 600px) {

  h1 {
    font-size: 80px;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }

  .wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 940px) {
  body {
    font-size: 15px;
    letter-spacing: -0.009em;
    line-height: 19px;
  }

  h1 {
    font-size: 108px;
  }

  img {
    width: 48px;
    margin-right: 16px;
  }
}
