.page main {
    margin-top: 6.5rem;

    h2 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: 3.25rem;

        // &:first-of-type {
        //     margin-top: 0;
        // }
    }
}
@media (max-width: 1068px) {
    .page main h2 {
        font-size: 1.3125rem;
        line-height: 1.5625rem;
        margin-top: 3rem;
    }
}
@media (max-width: 732px) {
    .page main h2 {
        margin-top: 2.75rem;
    }
}

// @media (max-width: 732px) {
//     .page main h2 {
//         margin-top: 2.25rem;
//     }
// }

.article-media,
.summary,
figcaption,
.toc {
    margin-bottom: 3.25rem;
}
@media (max-width: 1068px) {
    .article-media,
    .summary,
    figcaption,
    .toc {
        margin-bottom: 3rem;
    }
}
@media (max-width: 732px) {
    .article-media,
    .summary,
    figcaption,
    .toc {
        margin-bottom: 2.75rem;
    }
}

figcaption {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--color-DarkGray2);
    font-weight: 700;
    margin-top: 1rem;
}

.article-media,
.blog-entry-footer {
    margin-top: 3.25rem;
}

@media (max-width: 1068px) {
    .article-media,
    .blog-entry-footer {
        margin-top: 3rem;
    }
}
@media (max-width: 732px) {
    .article-media,
    .blog-entry-footer {
        margin-top: 2.75rem;
    }
}

.article-media.article-media-cover {
    padding: 0;
        aspect-ratio: 980 / 539;
    img.blog-image {
        width: 100%;
        height: 100%;
        // object-fit: cover;
    }
}

.uppercase {
    text-transform: uppercase;
}

.wrapper-small {
    width: 100%;
    // 653
    max-width: 43.5625rem;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1068px) {
    .wrapper-small {
        //576
        max-width: 38.75rem;
    }
}
@media (max-width: 732px) {
    .wrapper-small {
        //360
        max-width: 25.25rem;
    }
}

.article-main p {
        margin-bottom: 1.6875rem;

        a {
            text-decoration: underline;
            text-decoration-color: var(--color-DarkGray1);
            text-underline-offset: 4px;

            &:hover {
                text-decoration-color: var(--color-DarkGray2);
            }
        }
}

@media (max-width: 1068px) {
    .article-main p {
        margin-bottom: 1.5625rem;
    }
}

.article-main p,
ul.privacy-permissions,
.changelog-details summary h3,
.changelog-details details ul  {
        font-size: 1.1875rem;
        line-height: 1.6875rem;
}

@media (max-width: 1068px) {
    .article-main p,
    ul.privacy-permissions,
    .changelog-details summary h3,
    .changelog-details details ul  {
        font-size: 1.0625rem;
        line-height: 1.5625rem;
    }
}

ul.privacy-permissions {
        list-style: disc;
        padding-left: 1.5rem;
        margin-bottom: 1.25rem;
}

.article-header {}

.eyebrow {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 700;
    color: var(--color-DarkGray2);
    margin-bottom: 1.25rem;
    gap: 0.25rem;
}

p.release-number {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: var(--color-DarkGray2);

    a {
        text-decoration: none;
        color: var(--color-DarkGray2);

        &:hover {
            color: var(--color-white);
        }
    }
}

// .release-date, 
// .release-number {
//     font-size: 0.875rem;
//     line-height: 1.125rem;
//     font-weight: 700;
//     color: var(--color-DarkGray2);
// }

h1, .h1 {
    font-size: 3rem;
    line-height: 3.25rem;
    font-weight: 700;
}
@media (max-width: 1068px) {
    h1, .h1 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}
@media (max-width: 732px) {
    h1, .h1 {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

.summary {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: var(--color-LightGray);
    margin-top: 1.25rem;
}
@media (max-width: 1068px) {
    .summary {
        font-size: 1.3125rem;
        line-height: 1.5625rem;
        margin-top: 1rem;
    }
}

.article-media {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 20 / 11;
    background-color: var(--color-surface);
    border-radius: 1.25rem;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }

    img.blog-image {
        width: 80%;
        height: auto;
    }
}

.article-media-blog {
    margin-bottom: 0;
}

.changelog-details {
    margin-top: 3.25rem;

    details {
        border-top: 1px solid var(--color-divider);

        &:last-of-type {
            border-bottom: 1px solid var(--color-divider);
        }
    }
    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        cursor: pointer;

        h3 {
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-weight: 600;
        }

        img {
            width: 1.375rem;
            height: 1.375rem;
        }
    }

    details[open] summary {
        img {
            transform: rotate(180deg);
        }
    }

    ul {
        font-size: 0.875rem;
        line-height: 1.25rem;
        list-style: disc;
        padding-left: 1.5rem;
        margin-bottom: 1.25rem;
    }
}
@media (max-width: 1068px) {
    .changelog-details {
        margin-top: 3rem;

        summary img {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}
@media (max-width: 732px) {
    .changelog-details {
        margin-top: 2.75rem;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.75rem;
}
.btn-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 9999px;
    background-color: var(--color-surface);

    &:hover {
        background-color: color-mix(in srgb, var(--color-surface), white 10%);
    }
}
.btn-pagination-disabled {
    pointer-events: none;
    opacity: 0.5;
}
.pagination-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 15.125rem;
    font-size: 1.0625rem;
    line-height: 1.3125rem;
    font-weight: 700;
    color: var(--color-LightGray);
}
//
// INDEX (BLOG INDEX / CHANGELOG INDEX)
//

.changelog-index-header {
    h1 {
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid var(--color-divider);
        margin-top: 6.5rem;
    }
}
@media (max-width: 1068px) {
    .changelog-index-header h1 {
        font-size: 1.75rem;
        line-height: 2rem;
        padding-bottom: 1rem;
    }
}
@media (max-width: 732px) {
    .changelog-index-header h1 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        padding-bottom: 1rem;
    }
}

.changelog-index-article {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--color-divider);
}
@media (max-width: 1068px) {
    .changelog-index-article {
        gap: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
@media (max-width: 732px) {
    .changelog-index-article {
        align-items: flex-start;
        gap: 1rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
}

.changelog-index-article-img {
    width: 18.4375rem;
    height: 10.375rem;
    flex-shrink: 0; 
    background: var(--color-surface);
    border-radius: 1.25rem;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

@media (max-width: 1068px) {
    .changelog-index-article-img {
        width: 16.5rem;
        height: 9.3125rem;
    }
}
@media (max-width: 732px) {
    .changelog-index-article-img {
        width: 6.5625rem;
        height: 3.6875rem;
    }
}

.changelog-index-release-number {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 700;
    color: var(--color-DarkGray2);
}
@media (max-width: 1068px) {
    .changelog-index-release-number {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.changelog-index-h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
    color: var(--color-white);
    font-weight: 700;
}
@media (max-width: 1068px) {
    .changelog-index-h2 {
        font-size: 1.3125rem;
        line-height: 1.5625rem;
    }
}
@media (max-width: 732px) {
    .changelog-index-h2 {
        font-size: 1.0625rem;
        line-height: 1.3125rem;
    }
}

.changelog-index-release-date {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    margin-top: 0.75rem;
    color: var(--color-DarkGray2);
    display: block;
}

.toc {
    background-color: var(--color-surface);
    padding: 1rem;
    border-radius: 1.25rem;
    margin-top: 3.25rem;

    h3 {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--color-DarkGray2);
        font-weight: 500;
        margin-bottom: 0.25rem;
    }

    li {
        display: flex;
        margin: 0.25rem 0;

    }
    a {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
    }
}
@media (max-width: 1068px) {
    .toc {
        margin-top: 3rem;
    }
}
@media (max-width: 732px) {
    .toc {
        margin-top: 2.75rem;
    }
}

.blog-entry-footer {
    border-top: 1px solid var(--color-divider);
    padding-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--color-DarkGray2);
}