@charset "UTF-8";
.input-wrapper > input,
.input-wrapper > .placeholder {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"Fotoğraf\a Defteri";
  alt: "Fotoğraf\a Defteri";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 3.92s linear 0s 0 forwards, typed-0-final 1.0666666667s linear 0s 1 forwards;
}
@keyframes typed-0-final {
  0%, 6.25% {
    content: "​F";
    content: "​F"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  6.251%, 12.5% {
    content: "​Fo";
    content: "​Fo"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  12.501%, 18.75% {
    content: "​Fot";
    content: "​Fot"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  18.751%, 25% {
    content: "​Foto";
    content: "​Foto"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  25.001%, 31.25% {
    content: "​Fotoğ";
    content: "​Fotoğ"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  31.251%, 37.5% {
    content: "​Fotoğr";
    content: "​Fotoğr"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  37.501%, 43.75% {
    content: "​Fotoğra";
    content: "​Fotoğra"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  43.751%, 50% {
    content: "​Fotoğraf";
    content: "​Fotoğraf"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  50.001%, 56.25% {
    content: "​Fotoğraf\a";
    content: "​Fotoğraf\a"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  56.251%, 62.5% {
    content: "​Fotoğraf\a D";
    content: "​Fotoğraf\a D"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  62.501%, 68.75% {
    content: "​Fotoğraf\a De";
    content: "​Fotoğraf\a De"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  68.751%, 75% {
    content: "​Fotoğraf\a Def";
    content: "​Fotoğraf\a Def"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  75.001%, 81.25% {
    content: "​Fotoğraf\a Deft";
    content: "​Fotoğraf\a Deft"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  81.251%, 87.5% {
    content: "​Fotoğraf\a Defte";
    content: "​Fotoğraf\a Defte"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  87.501%, 93.75% {
    content: "​Fotoğraf\a Defter";
    content: "​Fotoğraf\a Defter"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  93.751%, 100% {
    content: "​Fotoğraf\a Defteri";
    content: "​Fotoğraf\a Defteri"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 0s infinite forwards;
}
@keyframes typed-0 {
  0%, 1.6996802721% {
    content: "​F";
    content: "​F"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  1.7006802721%, 3.4003605442% {
    content: "​Fo";
    content: "​Fo"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  3.4013605442%, 5.1010408163% {
    content: "​Fot";
    content: "​Fot"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  5.1020408163%, 6.8017210884% {
    content: "​Foto";
    content: "​Foto"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  6.8027210884%, 8.5024013605% {
    content: "​Fotoğ";
    content: "​Fotoğ"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  8.5034013605%, 10.2030816327% {
    content: "​Fotoğr";
    content: "​Fotoğr"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  10.2040816327%, 11.9037619048% {
    content: "​Fotoğra";
    content: "​Fotoğra"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  11.9047619048%, 13.6044421769% {
    content: "​Fotoğraf";
    content: "​Fotoğraf"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  13.6054421769%, 15.305122449% {
    content: "​Fotoğraf\a";
    content: "​Fotoğraf\a"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  15.306122449%, 17.0058027211% {
    content: "​Fotoğraf\a D";
    content: "​Fotoğraf\a D"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  17.0068027211%, 18.7064829932% {
    content: "​Fotoğraf\a De";
    content: "​Fotoğraf\a De"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  18.7074829932%, 20.4071632653% {
    content: "​Fotoğraf\a Def";
    content: "​Fotoğraf\a Def"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  20.4081632653%, 22.1078435374% {
    content: "​Fotoğraf\a Deft";
    content: "​Fotoğraf\a Deft"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  22.1088435374%, 23.8085238095% {
    content: "​Fotoğraf\a Defte";
    content: "​Fotoğraf\a Defte"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  23.8095238095%, 25.5092040816% {
    content: "​Fotoğraf\a Defter";
    content: "​Fotoğraf\a Defter"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  25.5102040816%, 62.5840340136% {
    content: "​Fotoğraf\a Defteri";
    content: "​Fotoğraf\a Defteri"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  62.5850340136%, 63.9445782313% {
    content: "​Fotoğraf\a Defter";
    content: "​Fotoğraf\a Defter"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  63.9455782313%, 65.305122449% {
    content: "​Fotoğraf\a Defte";
    content: "​Fotoğraf\a Defte"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  65.306122449%, 66.6656666667% {
    content: "​Fotoğraf\a Deft";
    content: "​Fotoğraf\a Deft"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  66.6666666667%, 68.0262108844% {
    content: "​Fotoğraf\a Def";
    content: "​Fotoğraf\a Def"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  68.0272108844%, 69.386755102% {
    content: "​Fotoğraf\a De";
    content: "​Fotoğraf\a De"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  69.387755102%, 70.7472993197% {
    content: "​Fotoğraf\a D";
    content: "​Fotoğraf\a D"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  70.7482993197%, 72.1078435374% {
    content: "​Fotoğraf\a";
    content: "​Fotoğraf\a"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  72.1088435374%, 73.4683877551% {
    content: "​Fotoğraf";
    content: "​Fotoğraf"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  73.4693877551%, 74.8289319728% {
    content: "​Fotoğra";
    content: "​Fotoğra"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  74.8299319728%, 76.1894761905% {
    content: "​Fotoğr";
    content: "​Fotoğr"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  76.1904761905%, 77.5500204082% {
    content: "​Fotoğ";
    content: "​Fotoğ"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  77.5510204082%, 78.9105646259% {
    content: "​Foto";
    content: "​Foto"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  78.9115646259%, 80.2711088435% {
    content: "​Fot";
    content: "​Fot"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  80.2721088435%, 81.6316530612% {
    content: "​Fo";
    content: "​Fo"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  81.6326530612%, 82.9921972789% {
    content: "​F";
    content: "​F"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
  82.9931972789%, 100% {
    content: "​";
    content: "​"/"Fotoğraf\a Defteri";
    alt: "Fotoğraf\a Defteri";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}/*# sourceMappingURL=typed_init.css.map */