@charset "UTF-8";
.input-wrapper > input,
.input-wrapper > .placeholder {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"फिल्म\aडायरी";
  alt: "फिल्म\aडायरी";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 3.32s linear 0s 0 forwards, typed-0-final 0.7333333333s linear 0s 1 forwards;
}
@keyframes typed-0-final {
  0%, 9.0909090909% {
    content: "​फ";
    content: "​फ"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  9.0919090909%, 18.1818181818% {
    content: "​फि";
    content: "​फि"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  18.1828181818%, 27.2727272727% {
    content: "​फिल";
    content: "​फिल"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  27.2737272727%, 36.3636363636% {
    content: "​फिल्";
    content: "​फिल्"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  36.3646363636%, 45.4545454545% {
    content: "​फिल्म";
    content: "​फिल्म"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  45.4555454545%, 54.5454545455% {
    content: "​फिल्म\a";
    content: "​फिल्म\a"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  54.5464545455%, 63.6363636364% {
    content: "​फिल्म\aड";
    content: "​फिल्म\aड"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  63.6373636364%, 72.7272727273% {
    content: "​फिल्म\aडा";
    content: "​फिल्म\aडा"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  72.7282727273%, 81.8181818182% {
    content: "​फिल्म\aडाय";
    content: "​फिल्म\aडाय"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  81.8191818182%, 90.9090909091% {
    content: "​फिल्म\aडायर";
    content: "​फिल्म\aडायर"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  90.9100909091%, 100% {
    content: "​फिल्म\aडायरी";
    content: "​फिल्म\aडायरी"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 0s infinite forwards;
}
@keyframes typed-0 {
  0%, 2.0070321285% {
    content: "​फ";
    content: "​फ"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  2.0080321285%, 4.015064257% {
    content: "​फि";
    content: "​फि"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  4.016064257%, 6.0230963855% {
    content: "​फिल";
    content: "​फिल"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  6.0240963855%, 8.0311285141% {
    content: "​फिल्";
    content: "​फिल्"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  8.0321285141%, 10.0391606426% {
    content: "​फिल्म";
    content: "​फिल्म"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  10.0401606426%, 12.0471927711% {
    content: "​फिल्म\a";
    content: "​फिल्म\a"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  12.0481927711%, 14.0552248996% {
    content: "​फिल्म\aड";
    content: "​फिल्म\aड"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  14.0562248996%, 16.0632570281% {
    content: "​फिल्म\aडा";
    content: "​फिल्म\aडा"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  16.0642570281%, 18.0712891566% {
    content: "​फिल्म\aडाय";
    content: "​फिल्म\aडाय"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  18.0722891566%, 20.0793212851% {
    content: "​फिल्म\aडायर";
    content: "​फिल्म\aडायर"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  20.0803212851%, 63.8544216867% {
    content: "​फिल्म\aडायरी";
    content: "​फिल्म\aडायरी"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  63.8554216867%, 65.4608473896% {
    content: "​फिल्म\aडायर";
    content: "​फिल्म\aडायर"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  65.4618473896%, 67.0672730924% {
    content: "​फिल्म\aडाय";
    content: "​फिल्म\aडाय"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  67.0682730924%, 68.6736987952% {
    content: "​फिल्म\aडा";
    content: "​फिल्म\aडा"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  68.6746987952%, 70.280124498% {
    content: "​फिल्म\aड";
    content: "​फिल्म\aड"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  70.281124498%, 71.8865502008% {
    content: "​फिल्म\a";
    content: "​फिल्म\a"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  71.8875502008%, 73.4929759036% {
    content: "​फिल्म";
    content: "​फिल्म"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  73.4939759036%, 75.0994016064% {
    content: "​फिल्";
    content: "​फिल्"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  75.1004016064%, 76.7058273092% {
    content: "​फिल";
    content: "​फिल"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  76.7068273092%, 78.312253012% {
    content: "​फि";
    content: "​फि"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  78.313253012%, 79.9186787149% {
    content: "​फ";
    content: "​फ"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
  79.9196787149%, 100% {
    content: "​";
    content: "​"/"फिल्म\aडायरी";
    alt: "फिल्म\aडायरी";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}/*# sourceMappingURL=typed_init.css.map */