html {
    scroll-behavior: smooth;
}

* {
    scroll-margin-top: 4.875rem;
}

.body-no-scroll {
    overflow: hidden;
}

h2 {
    margin-bottom: 1.375rem;
}

h3 {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.tile-inner {
    padding: 0.875rem 1rem 1rem;
}

section {
    margin-top: var(--spacing-6xl);
}