@use 'mixins' as *;

/* Buttons */
button {
  cursor: pointer;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  border-radius: var(--radius-full);
  cursor: pointer;
  
  /* Size variants */
  &.btn-sm {
    font-size: var(--font-size-sm);
    height: 27px;
    padding: 0 11px;

    /* Uppercase exception */
    &.btn-uppercase {
      font-size: var(--font-size-xs); /* 13px */
      text-transform: uppercase;
    }
  }
  
  &.btn-md {
    font-size: var(--font-size-md);
    padding: 10px 22px;
  }
  
  &.btn-circle {
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: var(--radius-full);
  }
  
  /* Style variants */
  &.btn-light {
    background: var(--color-white);
    color: var(--color-black);
    
    svg {
      fill: var(--color-black);
    }
  
    /* Hover states */
    &:hover {
      opacity: 0.9;
    }
    
    &:active {
      opacity: 1;
    }
  }
  
  &.btn-dark {
    background: transparent;
    border: 1px solid var(--color-dark3);
    color: var(--color-white);
    
    svg {
      fill: var(--color-white);
    }
  }
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 6rem;

  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(var(--color-white-rgb), 0.1);
  border-radius: 9999px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  color: var(--color-white);
  line-height: 0;
  font-size: 4rem;
  padding: 0 0 0.25rem 0.25rem;

  // will-change: transform;

  @include mobile {
    transform: translate(-50%, -50%) scale(0.75);
  }

  @include tablet-down {
    transform: translate(-50%, -50%) scale(0.875);
  }
}