/* Q&A / Details Section */
details {
    border-top: 1px solid var(--color-dark2);

    h3 {
        font-size: var(--font-size-md);
        line-height: var(--line-height-md);
    }

    p,
    ul {
        margin-bottom: var(--spacing-3xl);
    }

    summary {
        position: relative;
        list-style: none;
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        padding: var(--spacing-lg) 0;

        // ::before {
        //     content: '‹';                           /* left chevron character */
        //     position: absolute;
        //     right: 0;                               /* align to right edge of summary */
        //     top: 50%;                               /* vertical center */
        //     transform: translateY(-50%) rotate(-90deg); /* rotate left → down */
        //     font-size: 2rem;
        //     font-weight: 200;
        // }

        /* Remove default marker in different browsers */
        &::-webkit-details-marker {
            display: none;
        }

        &::marker {
            display: none;
        }

        &:focus-visible {
            outline: 2px solid var(--color-accent);
            outline-offset: 2px;
            border-radius: 2px;
        }
    }

    /* Last details element gets bottom border */
    &:last-child {
        border-bottom: 1px solid var(--color-dark2);
    }
}

details[open] summary::before {
            content: '‹';
}

details summary::before {
    content: '›';                           /* left chevron character */
            position: absolute;
            right: 0;                               /* align to right edge of summary */
            top: 50%;                               /* vertical center */
            transform: translateY(-50%) rotate(90deg); /* rotate left → down */
            font-size: 2rem;
            font-weight: 200;
}