@use 'mixins' as *;

/* Footer Section */
.main-footer {
    margin-top: var(--spacing-5xl);
    margin-bottom: var(--spacing-2xl);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);

    a {
        &:hover {
            color: rgba(var(--color-white-rgb), 0.82);
        }
    }

    h3 {
        color: var(--color-gray);
        font-size: inherit;
        line-height: inherit;
    }
}

.compliance-icon {
    margin-right: 3px; /* 3px */
}

.footer-links {
    @include tablet-down {
        grid-template-columns: repeat(2, 1fr) !important;

        > :first-child {
            display: none;
        }

        > :last-child {
            margin-top: var(--spacing-2xl);
        }
    }
}

.footer-bottom {
    color: var(--color-gray);

    @include tablet-down {
        align-items: flex-end!important;

        > :first-child {
            flex-direction: column;
            gap: var(--spacing-xs);
            align-items: start;
            
            > :first-child {
                order: 2;
            }
        }
    }

    a {
        &:hover {
            color: var(--color-white);
        }
    }
}
