@use 'mixins' as *;

/* Hero Section */
.hero {
  margin-top: 6.75rem;
}

.hero-image {
    align-items: flex-end;

    /* Override container-ratio for hero images */
    &::before {
        display: none !important;
    }

    picture {
        position: static;
        width: 100%;
        align-items: flex-end;
    }

    picture img {
        object-position: bottom;
        width: 100%;
        height: 100%;
    }
}

.hero-content {
    margin-bottom: var(--spacing-4xl);
}

.hero-featured {
    margin-top: var(--spacing-4xl);
}

.featured-text {
    font-size: var(--font-size-sm);
    text-align: center;
}

.featured-logos {
    gap: var(--spacing-2xl) var(--spacing-4xl); /* 16px vertical, 72px horizontal */
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--spacing-sm) 0;

    img {
        margin: 0 var(--spacing-xs);
    }

    @include tablet-down {
        img {
            height: 1.25rem;
            width: auto;
        }
    }

    @include mobile {
        gap: 1.75rem var(--spacing-3xl);

        img:first-of-type {
            display: none;
        }
    }
}