.howto, .preview {

    strong {
        font-size: var(--font-size-lg);
        line-height: var(--line-height-lg);
        font-weight: 400;
    }
    figure {
        cursor: pointer;
    }

    @media (hover: hover) {
        .tile:hover {
            background-color: var(--color-dark2);
        }
    }
    
    .howto-caption {
        position:absolute;
        top: 0!important;
        left: 0!important;
        transform: none!important;
        padding: 14px 16px 16px;
            p {
                color : var(--color-gray);
            }
    }
}