@use 'mixins' as *;

// Overlay global shared styles
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Add this for iOS Safari */
  height: 100svh; 
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  visibility: hidden;
  pointer-events: none;
  transition: background-color 0.25s ease-out, visibility 1s linear 1s;
  transition-delay: 0s;
  padding: 1rem;

  &.show {
    background: rgba(0, 0, 0, .9);
    visibility: visible;
    pointer-events: auto;
    transition: background-color 0.25s ease-out, visibility 0s linear 1s;
    transition-delay: 0.1s;
    /* no delay when showing */

    &:has(.modal-menu) {
      background: rgba(0, 0, 0, 1); // fully black background
    }
  }
}

// Modal
.modal:not(.modal-menu) {
  position: relative;
  display: block;
  width: 100%;
  max-width: 31.25rem;
  max-height: 100vh;
  border-radius: var(--radius-lg);
  top: 100vh;
  padding: var(--spacing-lg);
  border: 1px solid var(--color-dark3);
  background-color: rgb(12, 12, 12);
  transition: top 0.3s cubic-bezier(0.25, 0.75, 0.3, 1);
  transition-delay: 0s;

  &.large {
    width: 100%;
    max-width: 64rem;
    background: rgb(12, 12, 12);
    border: 1px solid var(--color-dark3);
    border-radius: var(--radius-lg);
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;

    .overlay-button-close {
      margin-left: auto;
    }
  }

  // close button
  .overlay-button-close {
    width: var(--spacing-2xl);
    height: var(--spacing-2xl);
    border: 1px solid var(--color-dark2);
    border-radius: var(--radius-md);
    background-color: #000;

    cursor: pointer;

    svg {
      width: var(--spacing-lg);
      height: var(--spacing-lg);
      stroke: var(--color-white);
    }

    &:hover {
      border: 1px solid var(--color-dark3);
    }
  }
}

.overlay.show .modal:not(.modal-menu) {
  top: 0;
  transition-delay: .07s;
}

.modal-header {
  margin-bottom: var(--spacing-xl);

  h3 {
    font-size: 1.5rem;
    line-height: var(--line-height-lg);
  }
}

.modal-social-buttons {
  a {
    position: relative;
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-md);
    margin-bottom: var(--spacing-sm);
    border: 1px solid var(--color-dark2);

    &:hover {
      border: 1px solid var(--color-dark3);
      background-color: var(--color-dark);
    }

    --ratio: 100%;

    &::before {
      content: '';
      display: block;
      padding-top: var(--ratio, 100%);
    }

    >* {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    img {
      width: 1.75rem;
      height: 1.75rem;
      transform: translate(-50%, -50%);
    }
  }
}

// Video related styles
.video-container {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--radius-lg);
  // border: 1px solid var(--color-dark2);
  overflow: hidden;

  .overlay-button-close-container {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 99999;
    width: 80px;
    height: 96px;
    display: flex;
    align-items: start;
    justify-content: end;
    background: #000;

  }
}

#youtube-player {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /* fill the parent */
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

// Menu
.modal-menu {
  width: 100%;
  height: 100%;

  .overlay-button-close {
    position: absolute;
    top: 0.6875rem; // 11px == height - (main-header height / 2)
    right: var(--spacing-lg);
    cursor: pointer;
    width: var(--spacing-2xl);
    height: var(--spacing-2xl);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.3s;
  }

  .mobile-menu-nav {
    margin-top: var(--spacing-5xl);

    ul {
      li {
        padding: var(--spacing-xs) 0;
        opacity: 0;
        transform: translateY(10px);

        a {
          font-size: var(--font-size-2xl);
          line-height: var(--line-height-2xl);
          color: var(--color-white);
        }
      }
    }
  }
}

.overlay.show .modal-menu .overlay-button-close {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.3s;
}

.overlay.show .mobile-menu-nav ul li {
  animation: fadeInUp 0.25s ease-out forwards;
}

/* Animate with stagger using nth-child */
.overlay.show .mobile-menu-nav ul li:nth-child(1) {
  animation-delay: 0.05s;
}

.overlay.show .mobile-menu-nav ul li:nth-child(2) {
  animation-delay: 0.1s;
}

.overlay.show .mobile-menu-nav ul li:nth-child(3) {
  animation-delay: 0.15s;
}

.overlay.show .mobile-menu-nav ul li:nth-child(4) {
  animation-delay: 0.2s;
}

.overlay.show .mobile-menu-nav ul li:nth-child(5) {
  animation-delay: 0.25s;
}

/* Close animation */
.overlay:not(.show) .modal-menu .mobile-menu-nav ul li {
  animation: fadeOutDown 0.25s ease-in forwards;
}
.overlay.closing .modal-menu .mobile-menu-nav ul li:nth-child(1) { animation-delay: 0.05s; }
.overlay.closing .modal-menu .mobile-menu-nav ul li:nth-child(2) { animation-delay: 0.1s; }
.overlay.closing .modal-menu .mobile-menu-nav ul li:nth-child(3) { animation-delay: 0.15s; }
.overlay.closing .modal-menu .mobile-menu-nav ul li:nth-child(4) { animation-delay: 0.2s; }
.overlay.closing .modal-menu .mobile-menu-nav ul li:nth-child(5) { animation-delay: 0.25s; }


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(10px); }
  }