@use 'mixins' as *;


    @media (max-width: 1140px) {
        .pricing.grid-4col {
            grid-template-columns: repeat(3, 1fr) !important;
            p { -webkit-line-clamp: 5!important }
        }
    }

    @media (max-width: 768px) {
        .pricing.grid-4col {
            grid-template-columns: repeat(2, 1fr) !important;
        }

        .pricing-card.ratio-3-4 {
            --ratio: 150%;
        }
    }

    @media (max-width: 480px) {
        .pricing.grid-4col {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .pricing-card.ratio-3-4 {
            --ratio: 100%;
        }
    }

// .pricing-card.ratio-3-4 {
//     @include mobile {
//         --ratio: 100%;
//     }
// }

// .price-yearly,
// .price-period-yearly {
//         display: none;
//     }

.yearly {
    .price,
    .price-period {
        display: none;
    }
    .price-yearly,
    .price-period-yearly {
        display: inline-block;
    }
}

.pricing-or {
    display: inline-block;
    font-size: var(--font-size-sm);
    margin: 0 0.25rem;
}

.pricing-amount,
.pricing-label {
    color: var(--color-gray);
}

.pricing-amount {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.price-period, .price-period-yearly {
    font-size: var(--font-size-sm);
    // margin-left: var(--spacing-xs);
}
