@use 'mixins' as *;

.price-yearly,
.price-period-yearly {
        display: none;
    }

.yearly {
    .price,
    .price-period {
        display: none;
    }
    .price-yearly,
    .price-period-yearly {
        display: inline-block;
    }
}

.pricing-amount,
.pricing-label {
    color: var(--color-secondary);
}

.pricing-amount {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.pricing-action {
    @include pricing-mid-range {
        margin-top: var(--spacing-3xl);
    }

    @include desktop-down {
        margin-top: var(--spacing-3xl);
    }
}

.price-period, .price-period-yearly {
    font-size: var(--font-size-sm);
    // margin-left: var(--spacing-xs);
}
