// @use 'mixins' as *;

// /* Reviews Section */
// .reviews article {
//     grid-column: span 2;
// }

// .review-details {
//     grid-column-end: -1;

//     @include tablet-down {
//         padding-top: var(--spacing-3xl);
//     }
// }

// .review-quote {
//     font-size: var(--font-size-2xl);
//     line-height: var(--line-height-2xl);

//     @include tablet-down {
//         font-size: var(--font-size-xl);
//         line-height: var(--line-height-xl);
//     }
// }

// cite {
//     font-style: normal;
// }

// .review-author {
//     margin-top: var(--spacing-4xl);

//     @include tablet-down {
//         margin-top: var(--spacing-xl);
//     }

//     .btn {
//         cursor: default !important;
//         background: var(--color-dark2) !important;
//         padding: 0.375rem;
//     }
// }

// .author-info {
//     font-size: var(--font-size-sm);
//     line-height: var(--line-height-sm);
// }

// .review-date {
//     color: var(--color-gray);
// }

// .review-navigation {
//     button {
//         font-size: var(--font-size-sm);
//         line-height: 0;
//     }
// }

// .review-footer {
//     color: var(--color-gray);
//     margin-top: var(--spacing-lg);
// }

// .review-carousel {
//     position: relative;
// }




@use 'mixins' as *;

.reviews {
    .feature-inner p, .feature-inner span {
        color: var(--color-white);
    }
}
.review-quote {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
}

cite {
    font-style: normal;
}

.review-author {
    margin-top: var(--spacing-lg);

    .btn {
        cursor: default !important;
        background: var(--color-dark2) !important;
        padding: 0.375rem;
    }
}

.author-info {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

.review-date {
    color: var(--color-gray);
}

.review-navigation {
    button {
        font-size: var(--font-size-sm);
        line-height: 0;
    }
}

.review-footer {
    color: var(--color-gray);
    margin-top: var(--spacing-lg);
}

.review-carousel {
    position: relative;
}

.reviews .ruh.tile {
background: none;
}