:root {
    /* Color Palette */
    --color-black: #0C0B14;
    --color-accent: #FF375F;
    --color-bg: #000;

    /* Dark grays RGB */
    --color-white-rgb: 236, 236, 237;
    --color-dark-rgb: 28, 28, 30;
    --color-dark2-rgb: 44, 44, 46;
    --color-dark3-rgb: 58, 58, 60;
    --color-dark4-rgb: 68, 68, 70;
    --color-dark5-rgb: 78, 78, 80;

    /* Full RGB colors */
    --color-white: rgb(var(--color-white-rgb));
    --color-gray: rgba(var(--color-white-rgb), 0.56);
    --color-dark: rgb(var(--color-dark-rgb));
    --color-dark2: rgb(var(--color-dark2-rgb));
    --color-dark3: rgb(var(--color-dark3-rgb));

    --color-surface: var(--color-dark);

    /* Font Sizes */ 
    --font-size-xs: 0.8125rem; /* 13px */
    --font-size-sm: 0.875rem;  /* 14px */
    --font-size-md: 1rem;      /* 16px */
    --font-size-lg: 1.375rem;  /* 22px */
    --font-size-xl: 1.75rem;   /* 28px */
    --font-size-2xl: 2.25rem;  /* 36px */
    --font-size-3xl: 3.25rem;  /* 52px */

    /* Line Heights */
    --line-height-xs: 1.25rem;  /* 20px */
    --line-height-sm: 1.25rem;  /* 20px */
    --line-height-md: 1.5rem;   /* 24px */
    --line-height-lg: 1.75rem;  /* 28px */
    --line-height-xl: 2.0625rem;  /* 33px */
    --line-height-2xl: 2.75rem; /* 44px */
    --line-height-3xl: 3.75rem; /* 44px */

    /* Spacing */
    --spacing-xs: 0.25rem;  /* 4px */
    --spacing-sm: 0.5rem;   /* 8px */
    --spacing-md: 0.75rem;  /* 12px */
    --spacing-lg: 1rem;     /* 16px */
    --spacing-xl: 1.5rem;   /* 24px */
    --spacing-2xl: 2rem;    /* 32px */
    --spacing-3xl: 3rem;    /* 48px */
    --spacing-4xl: 4rem;    /* 64px */
    --spacing-5xl: 6rem;    /* 96px */
    --spacing-6xl: 8rem;    /* 128px */

    /* Border Radius */
    --radius-sm: 0.25rem;   /* 4px */
    --radius-md: 0.5rem;   /* 8px */
    --radius-lg: 1rem; /* 16px */
    --radius-full: 9999px; /* fully rounded */
}