@use 'root';
@use 'base';
@use 'base_deferred';
@use 'utilities';
@use 'utilities_deferred';
@use 'buttons_deferred';
@use 'layout';
@use 'ratio';
@use 'ratio_deferred';
@use 'buttons';
@use 'header';
@use 'footer';
@use 'dropdown';
@use 'overlay';
@use 'tooltip';
@use 'details';
@use 'contact';
@use 'hero';

.docs-article-main {
    .tile {
        border: 1px solid rgb(var(--color-dark4-rgb));
        border-radius: var(--radius-md);
    }
    .tile-inner {
        padding: 0;
    }
}

.docs-coming-soon {
    color: var(--color-gray);
}