html {
  scroll-behavior: smooth;
}

body, h1, .h1, h2, h3, a.logo {
  font-optical-sizing: auto;
}

h2 {
  font-size: var(--font-size-heading2);
  line-height: 1;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: var(--grid-vgap);
}

h3, .h3 {
  font-size: var(--font-size-heading3);
    line-height: 1.5;
    font-weight: 600;
}

.feature-list-mobile,
.feature-list-desktop {
  row-gap: var(--grid-vgap);
}

.screenshot-container {
  background-color: rgb(12,12,12);
  /* background-color: #0C0C0C; */
  border-radius: 1rem;
  border: 1px solid rgb(51, 51, 51);
  text-align: center;
  box-sizing: border-box;
}

.screenshot-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 19.31% 23%;
}

.screenshot-desktop img {
  padding: 14% 14%;
}

.review-list li {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.review-list h3 {
  margin: 0;
}

article h3 {
  margin-top: var(--gap);
  margin-bottom: 0;
}

article p {
  margin-top: .5rem;
  font-size: var(--font-size-body);
}

blockquote {
  margin: 0;
  padding: 0;
}

blockquote p {
  margin-bottom: 0;
  color: white;
}

.review-info {
  margin-top: 4rem;
  color: inherit;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.56px;
}

cite {
  font-style: normal;
}
figure, .user-review, .how-to details {
  break-inside: avoid;
  /* background-color: #0C0C0C; */
  background-color: rgb(12,12,12);
  border-radius: 1rem;
  border: 1px solid rgb(51, 51, 51);
  padding: 1.5rem 1.25rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.how-to-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.how-to h3 {
  margin: 0;
}

.ht-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  background: #000;
  font-size: var(--font-size-small);
  color: var(--gray-1);
  font-family: monospace;
}

.how-to-heading {
  display: flex;
  align-items: center;
}

.how-to-heading > :first-child {
  flex: 1;
}

.faq-list details {
  border-top: 1px solid rgb(51, 51, 51);
}

.faq-list details p {
  margin-top: 0;
  max-width: 46.25rem;
  margin-bottom: 3rem;
}

details summary {
  cursor: pointer;
  list-style: none;
}

.faq-list details summary {
  display: flex;
  align-items: center;
  font-size: var(--font-size-heading3);
  color: white;
  position: relative;
  padding-right: 1.5rem;
  top: -0.125rem;
  height: var(--font-size-heading3) * 3;
}

.faq-list summary h3 {
  line-height: 1.5;
}

.faq-list details summary::-webkit-details-marker {
  display: none;
}

.faq-list details summary::before {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 300;
}

.faq-list details[open] summary::before {
  content: "−";
}

.footer {
  margin-top: var(--large-spacing);
  padding-bottom: 2rem;
}

.footer-nav {
  font-size: var(--font-size-heading2);
  color: white;
  line-height: 1.25;
  font-weight: 600;
}

.footer-nav li {
  margin-bottom: 0.5rem;
}

/* Basic styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  position: relative;
  display: flex;
  align-items: center;
  background: black;
  border: 1px solid rgb(51, 51, 51);
  padding: 0 0.5rem;
  gap: 0.5rem;
  height: 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-size-small);
  /* transition: background 0.3s; */
  min-width: 14rem;
  text-align: left;
  z-index: 9999;
}

#dropdown-toggle:checked ~ .dropdown-button {
  /* box-shadow: 0 0 0 2px black, 0 0 0 4px white; */
}

.dropdown-button span {
  width: 100%;
  flex: 1;
}

.dropdown-button img { 
  width: 1rem;
  height: 1rem;
}

/* .dropdown-button:hover {
  background: #3a5a8a;
} */

/* Dropdown content - hidden by default */
.dropdown-content {
  font-size: var(--font-size-body);
  position: absolute;
  bottom: 2.25rem;
  left: auto;
  right: 0;
  background-color: black;
  min-width: 14rem;
  max-height: 188px;
  overflow-y: auto;
  margin: 0; 
  padding: .375rem;
  list-style: none;
  border-radius: 0.3125rem;
  border: 1px solid rgb(51, 51, 51);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  transition: 
      opacity 0.2s ease,
      transform 0.2s ease,
      visibility 0.2s;
}

/* Style the dropdown links */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: flex;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3125rem;
  font-weight: 400;
  font-size: var(--font-size-small);
  text-align: left;
}

.dropdown-content a span:first-of-type {
  display:flex;
  flex: 1;
}

.dropdown-content a:hover {
  background-color: rgb(77, 77, 77);
}

/* Show the dropdown when checkbox is checked */
#dropdown-toggle:checked ~ .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Hide the checkbox */
#dropdown-toggle {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

footer h3 {
  font-size: var(--font-size-body);
  color: var(--gray-1);
  font-weight: 400;

}

.footer-list li {
  color: white;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subfooter {
  font-size: var(--font-size-small);
  margin-top: var(--huge-spacing);
  color: var(--gray-1);
}

@media (min-width: 768px) {
  .grid-2col {
      grid-template-columns: repeat(2, 1fr);
  }

  .grid-3col {
      grid-template-columns: repeat(3, 1fr);
  }

  .grid-5col {
    grid-template-columns: repeat(5, 1fr);
  }

  .takes-2 {
    grid-column: span 2;
  }

  .footer {
    /* grid-template-columns: repeat(12, 1fr); */
    align-items: end;
    padding-bottom: 2rem;
    gap: var(--gap);
  }

  .feature-list-mobile,
  .feature-list-desktop {
    row-gap: var(--grid-vgap);
  }

  .subfooter li:last-of-type {
    text-align: right;
  }

  .faq-list details h3 {
    margin: 1.75rem 0;
  }

  article p {
    margin-top: 1rem;
  }

  .faq-list details summary::before {
    font-size: 2rem;
  }

  ul.language-list {
    right: 0;
    left: auto;
  }
}