@charset "UTF-8";
.input-wrapper > input,
.input-wrapper > .placeholder {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"Taccuino\a Analogico";
  alt: "Taccuino\a Analogico";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 4.16s linear 0s 0 forwards, typed-0-final 1.2s linear 0s 1 forwards;
}
@keyframes typed-0-final {
  0%, 5.5555555556% {
    content: "​T";
    content: "​T"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  5.5565555556%, 11.1111111111% {
    content: "​Ta";
    content: "​Ta"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  11.1121111111%, 16.6666666667% {
    content: "​Tac";
    content: "​Tac"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  16.6676666667%, 22.2222222222% {
    content: "​Tacc";
    content: "​Tacc"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  22.2232222222%, 27.7777777778% {
    content: "​Taccu";
    content: "​Taccu"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  27.7787777778%, 33.3333333333% {
    content: "​Taccui";
    content: "​Taccui"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  33.3343333333%, 38.8888888889% {
    content: "​Taccuin";
    content: "​Taccuin"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  38.8898888889%, 44.4444444444% {
    content: "​Taccuino";
    content: "​Taccuino"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  44.4454444444%, 50% {
    content: "​Taccuino\a";
    content: "​Taccuino\a"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  50.001%, 55.5555555556% {
    content: "​Taccuino\a A";
    content: "​Taccuino\a A"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  55.5565555556%, 61.1111111111% {
    content: "​Taccuino\a An";
    content: "​Taccuino\a An"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  61.1121111111%, 66.6666666667% {
    content: "​Taccuino\a Ana";
    content: "​Taccuino\a Ana"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  66.6676666667%, 72.2222222222% {
    content: "​Taccuino\a Anal";
    content: "​Taccuino\a Anal"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  72.2232222222%, 77.7777777778% {
    content: "​Taccuino\a Analo";
    content: "​Taccuino\a Analo"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  77.7787777778%, 83.3333333333% {
    content: "​Taccuino\a Analog";
    content: "​Taccuino\a Analog"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  83.3343333333%, 88.8888888889% {
    content: "​Taccuino\a Analogi";
    content: "​Taccuino\a Analogi"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  88.8898888889%, 94.4444444444% {
    content: "​Taccuino\a Analogic";
    content: "​Taccuino\a Analogic"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  94.4454444444%, 100% {
    content: "​Taccuino\a Analogico";
    content: "​Taccuino\a Analogico"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 0s infinite forwards;
}
@keyframes typed-0 {
  0%, 1.6015641026% {
    content: "​T";
    content: "​T"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  1.6025641026%, 3.2041282051% {
    content: "​Ta";
    content: "​Ta"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  3.2051282051%, 4.8066923077% {
    content: "​Tac";
    content: "​Tac"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  4.8076923077%, 6.4092564103% {
    content: "​Tacc";
    content: "​Tacc"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  6.4102564103%, 8.0118205128% {
    content: "​Taccu";
    content: "​Taccu"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  8.0128205128%, 9.6143846154% {
    content: "​Taccui";
    content: "​Taccui"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  9.6153846154%, 11.2169487179% {
    content: "​Taccuin";
    content: "​Taccuin"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  11.2179487179%, 12.8195128205% {
    content: "​Taccuino";
    content: "​Taccuino"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  12.8205128205%, 14.4220769231% {
    content: "​Taccuino\a";
    content: "​Taccuino\a"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  14.4230769231%, 16.0246410256% {
    content: "​Taccuino\a A";
    content: "​Taccuino\a A"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  16.0256410256%, 17.6272051282% {
    content: "​Taccuino\a An";
    content: "​Taccuino\a An"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  17.6282051282%, 19.2297692308% {
    content: "​Taccuino\a Ana";
    content: "​Taccuino\a Ana"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  19.2307692308%, 20.8323333333% {
    content: "​Taccuino\a Anal";
    content: "​Taccuino\a Anal"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  20.8333333333%, 22.4348974359% {
    content: "​Taccuino\a Analo";
    content: "​Taccuino\a Analo"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  22.4358974359%, 24.0374615385% {
    content: "​Taccuino\a Analog";
    content: "​Taccuino\a Analog"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  24.0384615385%, 25.640025641% {
    content: "​Taccuino\a Analogi";
    content: "​Taccuino\a Analogi"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  25.641025641%, 27.2425897436% {
    content: "​Taccuino\a Analogic";
    content: "​Taccuino\a Analogic"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  27.2435897436%, 62.1784871795% {
    content: "​Taccuino\a Analogico";
    content: "​Taccuino\a Analogico"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  62.1794871795%, 63.4605384615% {
    content: "​Taccuino\a Analogic";
    content: "​Taccuino\a Analogic"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  63.4615384615%, 64.7425897436% {
    content: "​Taccuino\a Analogi";
    content: "​Taccuino\a Analogi"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  64.7435897436%, 66.0246410256% {
    content: "​Taccuino\a Analog";
    content: "​Taccuino\a Analog"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  66.0256410256%, 67.3066923077% {
    content: "​Taccuino\a Analo";
    content: "​Taccuino\a Analo"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  67.3076923077%, 68.5887435897% {
    content: "​Taccuino\a Anal";
    content: "​Taccuino\a Anal"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  68.5897435897%, 69.8707948718% {
    content: "​Taccuino\a Ana";
    content: "​Taccuino\a Ana"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  69.8717948718%, 71.1528461538% {
    content: "​Taccuino\a An";
    content: "​Taccuino\a An"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  71.1538461538%, 72.4348974359% {
    content: "​Taccuino\a A";
    content: "​Taccuino\a A"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  72.4358974359%, 73.7169487179% {
    content: "​Taccuino\a";
    content: "​Taccuino\a"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  73.7179487179%, 74.999% {
    content: "​Taccuino";
    content: "​Taccuino"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  75%, 76.2810512821% {
    content: "​Taccuin";
    content: "​Taccuin"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  76.2820512821%, 77.5631025641% {
    content: "​Taccui";
    content: "​Taccui"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  77.5641025641%, 78.8451538462% {
    content: "​Taccu";
    content: "​Taccu"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  78.8461538462%, 80.1272051282% {
    content: "​Tacc";
    content: "​Tacc"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  80.1282051282%, 81.4092564103% {
    content: "​Tac";
    content: "​Tac"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  81.4102564103%, 82.6913076923% {
    content: "​Ta";
    content: "​Ta"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  82.6923076923%, 83.9733589744% {
    content: "​T";
    content: "​T"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
  83.9743589744%, 100% {
    content: "​";
    content: "​"/"Taccuino\a Analogico";
    alt: "Taccuino\a Analogico";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}