@charset "UTF-8";
.input-wrapper > input,
.input-wrapper > .placeholder {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"フィルム\aノート";
  alt: "フィルム\aノート";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 2.96s linear 0s 0 forwards, typed-0-final 0.5333333333s linear 0s 1 forwards;
}
@keyframes typed-0-final {
  0%, 12.5% {
    content: "​フ";
    content: "​フ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  12.501%, 25% {
    content: "​フィ";
    content: "​フィ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  25.001%, 37.5% {
    content: "​フィル";
    content: "​フィル"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  37.501%, 50% {
    content: "​フィルム";
    content: "​フィルム"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  50.001%, 62.5% {
    content: "​フィルム\a";
    content: "​フィルム\a"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  62.501%, 75% {
    content: "​フィルム\aノ";
    content: "​フィルム\aノ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  75.001%, 87.5% {
    content: "​フィルム\aノー";
    content: "​フィルム\aノー"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  87.501%, 100% {
    content: "​フィルム\aノート";
    content: "​フィルム\aノート"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 0s infinite forwards;
}
@keyframes typed-0 {
  0%, 2.2512522523% {
    content: "​フ";
    content: "​フ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  2.2522522523%, 4.5035045045% {
    content: "​フィ";
    content: "​フィ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  4.5045045045%, 6.7557567568% {
    content: "​フィル";
    content: "​フィル"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  6.7567567568%, 9.008009009% {
    content: "​フィルム";
    content: "​フィルム"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  9.009009009%, 11.2602612613% {
    content: "​フィルム\a";
    content: "​フィルム\a"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  11.2612612613%, 13.5125135135% {
    content: "​フィルム\aノ";
    content: "​フィルム\aノ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  13.5135135135%, 15.7647657658% {
    content: "​フィルム\aノー";
    content: "​フィルム\aノー"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  15.7657657658%, 64.8638648649% {
    content: "​フィルム\aノート";
    content: "​フィルム\aノート"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  64.8648648649%, 66.6656666667% {
    content: "​フィルム\aノー";
    content: "​フィルム\aノー"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  66.6666666667%, 68.4674684685% {
    content: "​フィルム\aノ";
    content: "​フィルム\aノ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  68.4684684685%, 70.2692702703% {
    content: "​フィルム\a";
    content: "​フィルム\a"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  70.2702702703%, 72.0710720721% {
    content: "​フィルム";
    content: "​フィルム"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  72.0720720721%, 73.8728738739% {
    content: "​フィル";
    content: "​フィル"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  73.8738738739%, 75.6746756757% {
    content: "​フィ";
    content: "​フィ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  75.6756756757%, 77.4764774775% {
    content: "​フ";
    content: "​フ"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
  77.4774774775%, 100% {
    content: "​";
    content: "​"/"フィルム\aノート";
    alt: "フィルム\aノート";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}