@charset "UTF-8";
.input-wrapper > input,
.input-wrapper > .placeholder {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"Caderno\a Analógico";
  alt: "Caderno\a Analógico";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 4.04s linear 0s 0 forwards, typed-0-final 1.1333333333s linear 0s 1 forwards;
}
@keyframes typed-0-final {
  0%, 5.8823529412% {
    content: "​C";
    content: "​C"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  5.8833529412%, 11.7647058824% {
    content: "​Ca";
    content: "​Ca"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  11.7657058824%, 17.6470588235% {
    content: "​Cad";
    content: "​Cad"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  17.6480588235%, 23.5294117647% {
    content: "​Cade";
    content: "​Cade"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  23.5304117647%, 29.4117647059% {
    content: "​Cader";
    content: "​Cader"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  29.4127647059%, 35.2941176471% {
    content: "​Cadern";
    content: "​Cadern"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  35.2951176471%, 41.1764705882% {
    content: "​Caderno";
    content: "​Caderno"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  41.1774705882%, 47.0588235294% {
    content: "​Caderno\a";
    content: "​Caderno\a"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  47.0598235294%, 52.9411764706% {
    content: "​Caderno\a A";
    content: "​Caderno\a A"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  52.9421764706%, 58.8235294118% {
    content: "​Caderno\a An";
    content: "​Caderno\a An"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  58.8245294118%, 64.7058823529% {
    content: "​Caderno\a Ana";
    content: "​Caderno\a Ana"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  64.7068823529%, 70.5882352941% {
    content: "​Caderno\a Anal";
    content: "​Caderno\a Anal"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  70.5892352941%, 76.4705882353% {
    content: "​Caderno\a Analó";
    content: "​Caderno\a Analó"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  76.4715882353%, 82.3529411765% {
    content: "​Caderno\a Analóg";
    content: "​Caderno\a Analóg"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  82.3539411765%, 88.2352941176% {
    content: "​Caderno\a Analógi";
    content: "​Caderno\a Analógi"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  88.2362941176%, 94.1176470588% {
    content: "​Caderno\a Analógic";
    content: "​Caderno\a Analógic"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  94.1186470588%, 100% {
    content: "​Caderno\a Analógico";
    content: "​Caderno\a Analógico"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 0s infinite forwards;
}
@keyframes typed-0 {
  0%, 1.6491650165% {
    content: "​C";
    content: "​C"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  1.6501650165%, 3.299330033% {
    content: "​Ca";
    content: "​Ca"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  3.300330033%, 4.9494950495% {
    content: "​Cad";
    content: "​Cad"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  4.9504950495%, 6.599660066% {
    content: "​Cade";
    content: "​Cade"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  6.600660066%, 8.2498250825% {
    content: "​Cader";
    content: "​Cader"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  8.2508250825%, 9.899990099% {
    content: "​Cadern";
    content: "​Cadern"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  9.900990099%, 11.5501551155% {
    content: "​Caderno";
    content: "​Caderno"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  11.5511551155%, 13.200320132% {
    content: "​Caderno\a";
    content: "​Caderno\a"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  13.201320132%, 14.8504851485% {
    content: "​Caderno\a A";
    content: "​Caderno\a A"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  14.8514851485%, 16.500650165% {
    content: "​Caderno\a An";
    content: "​Caderno\a An"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  16.501650165%, 18.1508151815% {
    content: "​Caderno\a Ana";
    content: "​Caderno\a Ana"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  18.1518151815%, 19.800980198% {
    content: "​Caderno\a Anal";
    content: "​Caderno\a Anal"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  19.801980198%, 21.4511452145% {
    content: "​Caderno\a Analó";
    content: "​Caderno\a Analó"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  21.4521452145%, 23.101310231% {
    content: "​Caderno\a Analóg";
    content: "​Caderno\a Analóg"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  23.102310231%, 24.7514752475% {
    content: "​Caderno\a Analógi";
    content: "​Caderno\a Analógi"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  24.7524752475%, 26.401640264% {
    content: "​Caderno\a Analógic";
    content: "​Caderno\a Analógic"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  26.402640264%, 62.3752376238% {
    content: "​Caderno\a Analógico";
    content: "​Caderno\a Analógico"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  62.3762376238%, 63.695369637% {
    content: "​Caderno\a Analógic";
    content: "​Caderno\a Analógic"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  63.696369637%, 65.0155016502% {
    content: "​Caderno\a Analógi";
    content: "​Caderno\a Analógi"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  65.0165016502%, 66.3356336634% {
    content: "​Caderno\a Analóg";
    content: "​Caderno\a Analóg"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  66.3366336634%, 67.6557656766% {
    content: "​Caderno\a Analó";
    content: "​Caderno\a Analó"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  67.6567656766%, 68.9758976898% {
    content: "​Caderno\a Anal";
    content: "​Caderno\a Anal"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  68.9768976898%, 70.296029703% {
    content: "​Caderno\a Ana";
    content: "​Caderno\a Ana"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  70.297029703%, 71.6161617162% {
    content: "​Caderno\a An";
    content: "​Caderno\a An"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  71.6171617162%, 72.9362937294% {
    content: "​Caderno\a A";
    content: "​Caderno\a A"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  72.9372937294%, 74.2564257426% {
    content: "​Caderno\a";
    content: "​Caderno\a"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  74.2574257426%, 75.5765577558% {
    content: "​Caderno";
    content: "​Caderno"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  75.5775577558%, 76.896689769% {
    content: "​Cadern";
    content: "​Cadern"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  76.897689769%, 78.2168217822% {
    content: "​Cader";
    content: "​Cader"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  78.2178217822%, 79.5369537954% {
    content: "​Cade";
    content: "​Cade"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  79.5379537954%, 80.8570858086% {
    content: "​Cad";
    content: "​Cad"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  80.8580858086%, 82.1772178218% {
    content: "​Ca";
    content: "​Ca"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  82.1782178218%, 83.497349835% {
    content: "​C";
    content: "​C"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
  83.498349835%, 100% {
    content: "​";
    content: "​"/"Caderno\a Analógico";
    alt: "Caderno\a Analógico";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}