@charset "UTF-8";
.input-wrapper > input,
.input-wrapper > .placeholder {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"Carnet photo,\a Argentique";
  alt: "Carnet photo,\a Argentique";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 4.88s linear 0s 0 forwards, typed-0-final 1.6s linear 0s 1 forwards;
}
@keyframes typed-0-final {
  0%, 4.1666666667% {
    content: "​C";
    content: "​C"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  4.1676666667%, 8.3333333333% {
    content: "​Ca";
    content: "​Ca"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  8.3343333333%, 12.5% {
    content: "​Car";
    content: "​Car"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  12.501%, 16.6666666667% {
    content: "​Carn";
    content: "​Carn"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  16.6676666667%, 20.8333333333% {
    content: "​Carne";
    content: "​Carne"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  20.8343333333%, 25% {
    content: "​Carnet";
    content: "​Carnet"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  25.001%, 29.1666666667% {
    content: "​Carnet ";
    content: "​Carnet "/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  29.1676666667%, 33.3333333333% {
    content: "​Carnet p";
    content: "​Carnet p"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  33.3343333333%, 37.5% {
    content: "​Carnet ph";
    content: "​Carnet ph"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  37.501%, 41.6666666667% {
    content: "​Carnet pho";
    content: "​Carnet pho"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  41.6676666667%, 45.8333333333% {
    content: "​Carnet phot";
    content: "​Carnet phot"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  45.8343333333%, 50% {
    content: "​Carnet photo";
    content: "​Carnet photo"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  50.001%, 54.1666666667% {
    content: "​Carnet photo,";
    content: "​Carnet photo,"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  54.1676666667%, 58.3333333333% {
    content: "​Carnet photo,\a";
    content: "​Carnet photo,\a"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  58.3343333333%, 62.5% {
    content: "​Carnet photo,\a A";
    content: "​Carnet photo,\a A"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  62.501%, 66.6666666667% {
    content: "​Carnet photo,\a Ar";
    content: "​Carnet photo,\a Ar"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  66.6676666667%, 70.8333333333% {
    content: "​Carnet photo,\a Arg";
    content: "​Carnet photo,\a Arg"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  70.8343333333%, 75% {
    content: "​Carnet photo,\a Arge";
    content: "​Carnet photo,\a Arge"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  75.001%, 79.1666666667% {
    content: "​Carnet photo,\a Argen";
    content: "​Carnet photo,\a Argen"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  79.1676666667%, 83.3333333333% {
    content: "​Carnet photo,\a Argent";
    content: "​Carnet photo,\a Argent"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  83.3343333333%, 87.5% {
    content: "​Carnet photo,\a Argenti";
    content: "​Carnet photo,\a Argenti"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  87.501%, 91.6666666667% {
    content: "​Carnet photo,\a Argentiq";
    content: "​Carnet photo,\a Argentiq"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  91.6676666667%, 95.8333333333% {
    content: "​Carnet photo,\a Argentiqu";
    content: "​Carnet photo,\a Argentiqu"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  95.8343333333%, 100% {
    content: "​Carnet photo,\a Argentique";
    content: "​Carnet photo,\a Argentique"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 0s infinite forwards;
}
@keyframes typed-0 {
  0%, 1.3651202186% {
    content: "​C";
    content: "​C"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  1.3661202186%, 2.7312404372% {
    content: "​Ca";
    content: "​Ca"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  2.7322404372%, 4.0973606557% {
    content: "​Car";
    content: "​Car"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  4.0983606557%, 5.4634808743% {
    content: "​Carn";
    content: "​Carn"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  5.4644808743%, 6.8296010929% {
    content: "​Carne";
    content: "​Carne"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  6.8306010929%, 8.1957213115% {
    content: "​Carnet";
    content: "​Carnet"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  8.1967213115%, 9.5618415301% {
    content: "​Carnet ";
    content: "​Carnet "/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  9.5628415301%, 10.9279617486% {
    content: "​Carnet p";
    content: "​Carnet p"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  10.9289617486%, 12.2940819672% {
    content: "​Carnet ph";
    content: "​Carnet ph"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  12.2950819672%, 13.6602021858% {
    content: "​Carnet pho";
    content: "​Carnet pho"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  13.6612021858%, 15.0263224044% {
    content: "​Carnet phot";
    content: "​Carnet phot"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  15.0273224044%, 16.392442623% {
    content: "​Carnet photo";
    content: "​Carnet photo"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  16.393442623%, 17.7585628415% {
    content: "​Carnet photo,";
    content: "​Carnet photo,"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  17.7595628415%, 19.1246830601% {
    content: "​Carnet photo,\a";
    content: "​Carnet photo,\a"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  19.1256830601%, 20.4908032787% {
    content: "​Carnet photo,\a A";
    content: "​Carnet photo,\a A"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  20.4918032787%, 21.8569234973% {
    content: "​Carnet photo,\a Ar";
    content: "​Carnet photo,\a Ar"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  21.8579234973%, 23.2230437158% {
    content: "​Carnet photo,\a Arg";
    content: "​Carnet photo,\a Arg"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  23.2240437158%, 24.5891639344% {
    content: "​Carnet photo,\a Arge";
    content: "​Carnet photo,\a Arge"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  24.5901639344%, 25.955284153% {
    content: "​Carnet photo,\a Argen";
    content: "​Carnet photo,\a Argen"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  25.956284153%, 27.3214043716% {
    content: "​Carnet photo,\a Argent";
    content: "​Carnet photo,\a Argent"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  27.3224043716%, 28.6875245902% {
    content: "​Carnet photo,\a Argenti";
    content: "​Carnet photo,\a Argenti"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  28.6885245902%, 30.0536448087% {
    content: "​Carnet photo,\a Argentiq";
    content: "​Carnet photo,\a Argentiq"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  30.0546448087%, 31.4197650273% {
    content: "​Carnet photo,\a Argentiqu";
    content: "​Carnet photo,\a Argentiqu"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  31.4207650273%, 61.2011857923% {
    content: "​Carnet photo,\a Argentique";
    content: "​Carnet photo,\a Argentique"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  61.2021857923%, 62.2940819672% {
    content: "​Carnet photo,\a Argentiqu";
    content: "​Carnet photo,\a Argentiqu"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  62.2950819672%, 63.3869781421% {
    content: "​Carnet photo,\a Argentiq";
    content: "​Carnet photo,\a Argentiq"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  63.3879781421%, 64.4798743169% {
    content: "​Carnet photo,\a Argenti";
    content: "​Carnet photo,\a Argenti"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  64.4808743169%, 65.5727704918% {
    content: "​Carnet photo,\a Argent";
    content: "​Carnet photo,\a Argent"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  65.5737704918%, 66.6656666667% {
    content: "​Carnet photo,\a Argen";
    content: "​Carnet photo,\a Argen"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  66.6666666667%, 67.7585628415% {
    content: "​Carnet photo,\a Arge";
    content: "​Carnet photo,\a Arge"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  67.7595628415%, 68.8514590164% {
    content: "​Carnet photo,\a Arg";
    content: "​Carnet photo,\a Arg"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  68.8524590164%, 69.9443551913% {
    content: "​Carnet photo,\a Ar";
    content: "​Carnet photo,\a Ar"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  69.9453551913%, 71.0372513661% {
    content: "​Carnet photo,\a A";
    content: "​Carnet photo,\a A"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  71.0382513661%, 72.130147541% {
    content: "​Carnet photo,\a";
    content: "​Carnet photo,\a"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  72.131147541%, 73.2230437158% {
    content: "​Carnet photo,";
    content: "​Carnet photo,"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  73.2240437158%, 74.3159398907% {
    content: "​Carnet photo";
    content: "​Carnet photo"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  74.3169398907%, 75.4088360656% {
    content: "​Carnet phot";
    content: "​Carnet phot"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  75.4098360656%, 76.5017322404% {
    content: "​Carnet pho";
    content: "​Carnet pho"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  76.5027322404%, 77.5946284153% {
    content: "​Carnet ph";
    content: "​Carnet ph"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  77.5956284153%, 78.6875245902% {
    content: "​Carnet p";
    content: "​Carnet p"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  78.6885245902%, 79.780420765% {
    content: "​Carnet ";
    content: "​Carnet "/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  79.781420765%, 80.8733169399% {
    content: "​Carnet";
    content: "​Carnet"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  80.8743169399%, 81.9662131148% {
    content: "​Carne";
    content: "​Carne"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  81.9672131148%, 83.0591092896% {
    content: "​Carn";
    content: "​Carn"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  83.0601092896%, 84.1520054645% {
    content: "​Car";
    content: "​Car"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  84.1530054645%, 85.2449016393% {
    content: "​Ca";
    content: "​Ca"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  85.2459016393%, 86.3377978142% {
    content: "​C";
    content: "​C"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
  86.3387978142%, 100% {
    content: "​";
    content: "​"/"Carnet photo,\a Argentique";
    alt: "Carnet photo,\a Argentique";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}