/* Basic styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    position: relative;
    z-index: 9999;
    cursor: pointer;
}

.dropdown-button span {
    width: 100%;
    flex: 1;
}

.dropdown-button svg {
    line-height: 0;
}

/* Dropdown content - hidden by default */
.dropdown-content {
    position: absolute;
    left: auto;
    right: -0.3125rem;
    min-width: 11rem;
    overflow-y: auto;
    padding: 0.3125rem 0;
    z-index: 1;

    font-size: 0.8125rem;
    background-color: #000;
    border-radius: 10px;
    border: 1px solid var(--color-divider);

    opacity: 0;
    visibility: hidden;
    transition:
    opacity 0.1s cubic-bezier(0.4, 0, 1, 1),       /* ease-in-expo */
    transform 0.12s cubic-bezier(0.4, 0, 1, 1),
    visibility 0s linear 0.13s; /* hide after fade ends */

    &.dropdown-dir-top {
        transform: translateY(1rem);
        bottom: 1.5rem;
        max-height: 12.35rem;
    }
}

/* Show the dropdown when checkbox is checked */
.dropdown-toggle:checked~.dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1),       /* ease-in-expo */
    transform 0.12s cubic-bezier(0.4, 0, 1, 1),
                visibility 0s linear 0s; /* make visible immediately */
}

/* Style the dropdown links */
.dropdown-content a {
    display: flex;
    align-items: center;
    padding: 0.3125rem 0.5rem;
    color: var(--color-white);

    &:hover {
        color: #fff;
    }
}

.dropdown-content a span:first-of-type {
    display: flex;
    flex: 1;
}

.dropdown-toggle:checked~.dropdown-button img:last-of-type {
    transform: rotate(180deg);
}

/* Hide the checkbox */
.dropdown-toggle {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

@media (max-width: 1068px) {
    .dropdown-content {
        left: -0.3125rem;
        right: auto;
    }
}