.footer {
    position:relative;
    background: var(--color-bg-black);
    z-index: 6;
    padding-bottom: 0.5rem;
}
@media (max-width: 1068px) {
    .footer {
        padding-bottom: 2.5rem;
    }
}
@media (max-width: 732px) {
    .footer {
        padding-bottom: 1.375rem;
    }
}

.footer-content {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
@media (max-width: 1068px) {
    .footer-content {
        padding-top: 8.125rem;
        padding-bottom: 8.125rem;
    }
}
@media (max-width: 732px) {
    .footer-content {
        flex-direction: column;
        gap: 1.625rem;
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
}

.footer-first-col {
    width: 17.5rem;
}

.footer-second-col,
.footer-third-col {
    width: 10rem;
}

.footer-title {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--color-DarkGray2);
    margin-bottom: 0.875rem;
}

.footer-link-large {
    font-size: 1.75rem;
    line-height: 1.9375rem;
    font-weight: 600;
    margin-bottom: 0.6875rem;

}

.footer-link-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.8125rem;
}

.footer-misc {
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
}

.footer-misc-legal {
    display: flex;
    gap: 1.875rem;
}

@media (max-width: 1068px) {
    .footer-misc-legal,
    .footer-misc {
        justify-content: none;
        align-items: start;
        flex-direction: column;
        gap: 4px;
    }
}

.copyright,
.compliance,
.language {
    display: flex;
    align-items: center;
    gap: 0.1875rem;
    opacity: 0.56;
}
.copyright,
.language {
    &:hover {
        opacity: 0.8;
    }

}

.language {
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}
@media (max-width: 1068px) {
    .language {
        opacity: 0.56;

        &:hover {
            opacity: 0.8;
        }
    }
}