:root {
    /* Color Palette */
    --color-bg-black: #000;
    --color-surface: #1D1D1F;
    --color-white: #F5F5F7;
    --color-LightGray: #D2D2D7; 
    --color-DarkGray1: #6E6E73;
    --color-DarkGray2: #86868B;
    --color-divider: #424245;
}